/* ===== Hero ===== */
/* .hero {
  height: 90vh;
  background: linear-gradient(120deg, #0066ff, #00cc99);
  color: #fff;
  text-align: center;
  padding: 2rem;
} */
 /* .hero {
    height: 90vh;
    background: linear-gradient(120deg, #0066ff, #00cc99);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(48, 48, 48, 1) 78%);
    background: radial-gradient(circle, #1e3a5f -8%, #7bae7f 198%);
    color: #fff;
    text-align: center;
    padding: 2rem;
} */
 .hero {
    height: 90vh;
    background: linear-gradient(120deg, #0066ff, #00cc99);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(48, 48, 48, 1) 78%);
    background: radial-gradient(circle, #E4C590 38%, #7bae7f 131%);
    color: #fff;
    text-align: center;
    padding: 2rem;
}
.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero p {
  margin-bottom: 1.5rem;
}


/* h1.brand-title {
    font-size: clamp(18px, 14vw, 190px);
    line-height: 1;
    text-align: left;
    letter-spacing: 10px;
    filter: drop-shadow(2px 4px 1px black);
} */
 /* h1.brand-title {
    font-size: clamp(18px, 14vw, 190px);
    line-height: 1;
    text-align: left;
    letter-spacing: 10px;
    filter: drop-shadow(2px 4px 3px #fff);
} */
 h1.brand-title {
    font-size: clamp(18px, 14vw, 190px);
    line-height: 1;
    text-align: left;
    letter-spacing: 10px;
    filter: drop-shadow(2px 3px 1px #fff);
}
h1.brand-title span {
    font-size: clamp(18px, 10vw, 150px);
    letter-spacing: normal;
    display: block;
}
.gradient-text {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(0deg, #1e3a5f 35%, #7bae7f);
}